.transaction-history {
    position: relative;
    padding: 55px;
    overflow-y: scroll;
    .refresh-button {
        fill: $primaryColor;
    }
    .transaction-history-list {
        .transaction-history-item {
            display: flex;
            height: 90px;
            &:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 1px solid grey;
                padding: 10px 0 15px 0;
            }
            .transaction-history-item-ammount {
                display: flex;
                font-size: 2.6rem;
                font-weight: 700;
                justify-content: flex-end;
                align-items: center;
                width: 100px;
                margin-right: 15px;
            }
            .transaction-history-info {
                display: flex;
                flex: auto;
                flex-direction: column;
                justify-content: space-between;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .transaction-history {
        padding: 45px;
        .transaction-history-list {
            .transaction-history-item {
                .transaction-history-item-ammount {
                    font-size: 2.3rem;
                    width: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .transaction-history {
        overflow: auto;
        padding: 45px;
        .transaction-history-list {
            .transaction-history-item {
                .transaction-history-item-ammount {
                    font-size: 2.3rem;
                    width: 70px;
                }
            }
        }
    }
}
