.login-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        -51deg,
        $primaryColor,
        lighten($primaryColor, 13%)
    );
    label {
        font-size: 2.2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 10px;
    }
    input {
        width: 350px;
        font-size: 1.3rem;
        padding: 5px;
        text-align: center;
        margin-bottom: 20px;
        border-color: white;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
        &:focus-visible {
            outline: unset;
        }
    }
    button {
        background-image: linear-gradient(-51deg, darken(white, 8%), white);
        padding: 15px 25px;
        border-radius: 10px;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        color: $primaryColor;
    }
}
